/* *{
    background-color: #090C11;
} */

/* Nav Bar */
/* Margin add */
nav {
    background-color: #333;
    overflow: hidden;
    margin-left: 200px;
}

/* Nav bar buttons */
nav a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: white;
}

nav button {
    float: right;
    background-color:rgba(37, 202, 174, 0.692);
    display: inline-block;
    font-size: 16px;
    height: 45px;
    margin-top: 5.5px;
    padding-top: 5px;
    border-radius: 500px;
    border-color: rgba(189, 207, 22, 0.493);
    margin-right: 10px;
}

button a{
    float: unset;
    font-size: 150%;
    font-family: 'Orelega One', cursive;
    /* padding: 20px; */
    margin-top: 0px;
}
/* Margin add */
footer {
    background-color: #333;
    overflow: hidden;
    margin-left: 200px;
}

footer a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: white;
}

/* Fixed sidenav, full height */
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Style the sidenav links and the dropdown button */
  .sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  
  /* On mouse-over */
  .sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
  }
  
  /* Main content */
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  /* Add an active class to the active dropdown button */
  .active {
    background-color: green;
    color: white;
  }
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
  }
  
  /* Optional: Style the caret down icon */
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }

  /* Body margin */
  body{
      margin: 0;
  }

  /* Heading semester */
  section h2{
    text-align: center;
    font-size: 40px;
  }
  main{
      margin-left: 200px;
  }

  section button{

    background-color:rgba(0, 222, 252, 0.692);
    display: inline-block;
    font-size: 16px;
    height: 200px;
    width: 200px;
    border-radius: 50px;
    border-color: rgba(32, 235, 14, 0.774);
    margin-left: 11%;
    margin-bottom: 20px;

  }

  .pdf{

    color: rgb(4, 21, 255);
    text-decoration: none;
    font-weight: 600;
    font-family: 'Original Surfer', cursive;
  }
  
.text{
  margin-left: 200px;
}